footer {
  height: 100px;
  line-height: 100px;
  width: 100%;
  background-color: #F4828C;
  position: static;
  bottom: 0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  justify-content: center;
  color: white;
}

.social-media-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: unset;
}

.social-media-list li {
  margin: 0;
  transition: color 0.5s ease;
  font-size: 2em;
  float: left;
  margin: 0 15px;
}

.social-media-list li:hover {
  color: black;
}

.social-media-list li a {
  text-decoration: none;
  color: inherit;
}
