header {
  height: 120px;
  width: 100%;
  position: fixed;
  z-index: 991;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



header .navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 0;
  border: unset;
}


header .navigation-list li:hover {
  color: black;
}

header.active {
  background-color: #F4828C;
  height: 80px;
}


header.active .navigation-list li:hover {
  color: black;
}

header.active .navigation-list {
  color: white;
  font-size: 1.2rem;
}

.navigation-list li {
  float: left;
  margin: 0 15px;
  transition: color 0.5s ease;
}

.navigation-list li a {
  color: inherit;
  text-decoration: none;
}

.bar {
  background-color: white;
}

.toggle-button {
  z-index: 992;
  display: none;
  width: 50px;
  margin-top: 10px;
}

@media screen and (max-width: 1040px) {
  .toggle-button {
    display: block;
  }

  .navigation-list {
    display: none;
  }
}

.toggle-button:hover {
  opacity: 1;
}

.overlay {
  background-image: none;
  background-color: #775D6A;
  z-index: 990;
  color: white;
}

.overlay.active {
    background-color: #F4828C;
}

.overlay ul {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  padding: 0;
}

.overlay ul li {
  font-size: 2rem;
  margin: 30px 0;
}


.overlay ul li a {
  color: white;
  transition: color 0.5s ease;
}

.overlay ul li a:hover {
  color: black;
}

.overlay.active ul li a:hover {
    color: black;
}
