/* START HEADER STYLING */
header {
  height: 120px;
  width: 100%;
  position: fixed;
  /* Inspiration from: https://codepen.io/sdthornton/pen/wBZdXq*/
  z-index: 991;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}



header .navigation-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2rem;
  color: white;
  padding: 0;
  border: unset;
}


header .navigation-list li:hover {
  color: black;
}

header.active {
  background-color: #FAEBED;
  height: 80px;
}

header.active .bar {
  background-color: black;
}

header.active .navigation-list li:hover {
  color: #815D76;
}

header.active .navigation-list {
  color: black;
  font-size: 1.2rem;
}

.navigation-list li {
  float: left;
  margin: 0 15px;
  transition: color 0.5s ease;
}

.navigation-list li a {
  color: inherit;
  text-decoration: none;
}

.bar {
  background-color: white;
}

header.active .toggle-active .bar {
  background-color: black;
}

.toggle-button {
  z-index: 992;
  display: block;
  visibility: hidden;
}

@media screen and (max-width: 1040px) {
  .toggle-button {
    visibility: visible;
  }

  .navigation-list {
    visibility: hidden;
  }
}

.toggle-button:hover {
  opacity: 1;
}

.overlay {
  background-image: none;
  background-color: #494151;
  z-index: 990;
  color: white;
}

.overlay.active {
    background-color: #FAEBED;
}

.overlay ul {
  font-family: 'Catamaran', sans-serif;
  text-transform: uppercase;
  padding: 0;
  border: unset;
}

.overlay ul li a {
  color: white;
  font-size: 0.5em;
  transition: color 0.5s ease;
}

.overlay ul li a:hover {
  color: black;
  font-size: 0.5em;
}

.overlay.active ul li a {
  color: black;
}

.overlay.active  ul li a:hover {
    color: #815D76;
}
