#map-location {
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.5rem;
}

#map {
  width: 100%;
  min-height: 550px;
  /* Header height + section height + height of title - normalize.css margin-bottom*/
  position: relative;
}

.timeline__content p {
  font-size: 1rem;
}

.timeline__content h2 {
    font-family: 'Catamaran', sans-serif;
  font-size: 1rem;
}

.timeline__content__wrap {
  font-size: 2em;
}
