
.important-people-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1621px) {
  .important-people-container{
    flex-direction: column;
  }
}

.example-1 .wrapper.brother {
  background: url('../assets/images/brother.jpeg') 20% 1%/cover no-repeat;
  background-position: center;
}

.example-1 .wrapper.karin {
  background: url('../assets/images/karin.jpeg') 20% 1%/cover no-repeat;
  background-position: center;
}

.example-1 .wrapper.mother {
  background: url('../assets/images/mother.jpg') 20% 1%/cover no-repeat;
  background-position: center;
}

.example-1 .wrapper.roger {
  background: url('../assets/images/roger.jpeg') 20% 1%/cover no-repeat;
  background-position: center;
}

.example-1 .wrapper.shannon {
  background: url('../assets/images/dog.jpg') 20% 1%/cover no-repeat;
  background-position: center;
}

.card .text {
  height: 150px;
  margin: 0;
}

.card .wrapper {
  margin: 20px 0;
  min-width: 250px;
  max-width: 450px;
}

.example-1 .date {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #F4828C;
  color: #fff;
  padding: 0.8em;
}
